.container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 88px);
}

.body{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 80px;
}

.input{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.button{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.button button{
	padding: 0;
}