.container {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 100;
}

.modal {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 40px 60px;
	width: 640px;
	background-color: #1c1c21;
	border-radius: 40px;
	box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
	z-index: 101;
}

.head {
	display: flex;
	align-items: center;
	width: 100%;
}

.close {
	margin-left: auto;
	cursor: pointer;
}
