.container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	padding: 24px;
	width: calc(100% - 60px);
	background-color: #1c1c1c;
	border-radius: 40px;
	cursor: pointer;
}

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.status{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.status .done{
	color: #00CCCC;
}

.body{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.items{
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

.item{
	position: relative;
	width: 48px;
	height: 64px;
}

.other span{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	top: 0;
	left: 0;
	background-color: rgba($color: #1c1c1c, $alpha: .6);
	border-radius: 50%;
	opacity: .6;
	z-index: 1;
}

.other.item img{
	z-index: 0;
}

.item img{
	position: absolute;
	width: 64px;
	height: 100%;
	object-position: center;
	object-fit: cover;
	border: 2px solid #801AB2;
	background-color: #1c1c1c;
	border-radius: 50%;
	z-index: 2;
}

.total p{
	display: flex;
	align-items: center;
	gap: 5px;
}